@use '../helpers/mixins' as *;

// --------------------------------

// Call-to-action

// --------------------------------

.call-to-action {
  padding: var(--space-2xl) 0;
  text-align: center;

  .container {
    @include display-flex();
    flex-direction: column;
    align-items: center;
  }
}