@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;

// --------------------------------

// Image slice styles

// --------------------------------

.image {
  @include display-grid();
  padding: var(--space-xl) 0;

  @include breakpoint(sm) {
    padding: var(--space-2xl) 0;
  }

  &__image {
    aspect-ratio: attr(width) / attr(height);
    border-radius: var(--radius-m);
    grid-column: 2 / span 22;
    height: auto;
    pointer-events: none;
    user-select: none;
    width: 100%;

    @include breakpoint(md) {
      grid-column: 3 / span 20;
    }
  }
}
