@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;

// --------------------------------

// Text Image slice styles

// --------------------------------

.text_image {
  @include display-grid();
  align-items: center;
  color: var(--color-contrast-low);
  padding: var(--space-xl) 0;

  @include breakpoint(sm) {
    align-items: center;
    padding: var(--space-2xl) 0;
  }

  &__content_wrapper {
    @include display-flex();
    flex-direction: column;
    grid-column: 2 / span 22;
    margin-bottom: var(--space-m);

    @include breakpoint(sm) {
      grid-column: 3 / span 9;
      padding-right: var(--space-l);
    }

    @include breakpoint(md) {
      grid-column: 4 / span 9;
      padding-right: var(--space-l);
    }
  }

  .text_image__title {
    margin-bottom: var(--space-2xs);

    @include breakpoint(md) {
      margin-bottom: var(--space-m);
    }
  }

  .text_image__description {
  }

  &__image_wrapper {
    grid-column: 2 / span 22;

    @include breakpoint(sm) {
      grid-column: 13 / span 10;
    }

    @include breakpoint(md) {
      grid-column: 13 / span 9;
    }

    .text_image__image {
      aspect-ratio: attr(width) / attr(height);
      border-radius: var(--radius-m);
      height: auto;
      pointer-events: none;
      user-select: none;
      width: 100%;
    }
  }
}
